@font-face {
    font-family: "YingHuaYuLuo-subfont";
    src: url("YingHuaYuLuo-subfont.eot"); /* IE9 */
    src: url("YingHuaYuLuo-subfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("YingHuaYuLuo-subfont.woff") format("woff"), /* chrome、firefox */
    url("YingHuaYuLuo-subfont.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("YingHuaYuLuo-subfont.svg#YingHuaYuLuo-subfont") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


